<div class="page-header">
  <h1>Dropzone Rails Example</h1>
</div>
<form action="/photos" class="dropzone" id="myDropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
